* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: #FFFFFF;
    background-color: #282B30;
}

.header {
    overflow: hidden;
    background-color: #1e2124;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: #FFFFFF;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    background-color: #282B30;
    color: black;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

section {
    margin-bottom: 60px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.links {
    margin: 20px auto;
    max-width: 1000px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);

}

li {
    list-style: none;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .header a {
        float: none;
        display: block;
        text-align: center;
    }

    .section {
        margin-bottom: 30px; /* Adjusted margin for smaller screens */
    }

    .links {
        padding: 10px;
        margin: 10px auto; /* Adjusted margin for smaller screens */
    }
}

.hidden {
    opacity: 0;
    transition: opacity 3s ease;
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    transform: translateX(0);
}