/* Default styles for all screen sizes */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: black;
    background-color: #FFFFFF;
}

body.dark {
    color: #FFFFFF;
    background-color: #282B30;
}

.header {
    position: relative;
    overflow: hidden;
    background-color: #1e2124;
    padding: 20px 10px;

    @media screen and (max-width: 768px) {
        padding: 50px 10px;
    }
}

.header a {
    float: left;
    color: #FFFFFF;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header-right a:hover {
    background-color: #282B30;
    color: black;
}

.header-right a.active {
    background-color: dodgerblue;
    color: white;
}

.header-right {
    float: right;
}

.navbar {
    position: relative;
}

.navbar ul {
    margin: unset;
    list-style: none;
    padding: unset;
    display: flex;
}

.navbar .nav-toggle {
    display: flex;
    position: relative;
    top: 0%; /* Adjust as needed */
    right: 70px; /* Adjust as needed */
}

.navbar a {
    padding: 1em;
    text-decoration: none;
    display: inline-block;
}

.navbar .toggle {
    position: absolute;
    height: 60px;
    width: 30px;
    margin-top: 15px;
    top: 0%;
    right: 40px;

    @media screen and (max-width: 768px) {
        margin-top: 8px;
        right: 90px;
    }
}

.navbar .checkbox {
    display: none;
}

.navbar .label {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 60px;
    height: 30px;
    background-color: #5f5f5f;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.circle {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

input[type="checkbox"]:checked + .label {
    background-color: #8f8f8f;
}

input[type="checkbox"]:checked + .label + .circle {
    transform: translateX(30px);
}

.navbar .hamburger {
    position: absolute;
    top: 0%;
    right: 0%;
    border: unset;
    background: unset;
    cursor: pointer;
    display: none;
}

.navbar .hamburger svg {
    stroke: #FFFFFF;
}

.navbar .hamburger .icon-close {
    display: none;
}

.navbar.open .hamburger .icon-close {
    display: block;
}

section {
    margin-bottom: 60px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 768px) {

    .navbar.open ul {
        display: block;
    }

    .navbar.open .nav-toggle {
        display: block;
    }

    .navbar.open a {
        display: block;
    }

    .navbar .nav-toggle {
        display: none;
    }

    .navbar .hamburger {
        display: block;
    }
    
    .navbar.open .hamburger .icon-open {
        display: none;
    }

    .navbar.open .hamburger .icon-close {
        display: block;
    }

    .header a {
        float: none;
        display: block;
        text-align: center;
    }

    .header-right {
        float: none;
    }

    .Intro,
    .About {
        padding: 10px;
        margin: 10px auto; /* Adjusted margin for smaller screens */
    }

    section {
        margin-bottom: 30px; /* Adjusted margin for smaller screens */
    }

    .container {
        flex-direction: column; /* Display cards in a column */
        align-items: center; /* Center cards vertically */
    }

    .card {
        width: calc(100% - 20px); /* Full width for cards */
        margin: 10px; /* Adjusted margin for cards */
    }
}

.Intro {
    margin: 20px auto;
    max-width: 1000px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.About_Us {
    margin: 20px auto;
    max-width: 1000px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.Contact {
    margin: 20px auto;
    max-width: 1000px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.About {
    margin: 20px auto;
    max-width: 1000px;
    padding: 20px;
    text-align: center;
}

.hidden {
    opacity: 0;
    transition: opacity 3s ease;
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    transform: translateX(0);
}

/* New code for the cards */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the cards horizontally */
}

.card {
    height: 500px;
    width: 350px;
    margin: 50px 10px;
    box-shadow: 5px 5px 20px #282b30;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

img {
    height: 300px;
    width: 350px;
    border-radius: 3px;
    transition: transform 0.5s ease;
}

.cards {
    height: 200px;
    width: 350px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    background: rgba(27, 27, 27, 0.5);
    color: white;
    transition: .5s;
}

.cards a {
    color: inherit;
    text-decoration: none;
}

.text_cardsh1 {
    margin: 10px;
    font-size: 30px;
}

.text_cardsp {
    font-size: 20px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
}

.card:hover {
    cursor: pointer;
}

.card:hover .cards {
    height: 220px;
    bottom: 0;
    background: black;
}

.card:hover .text_cardsp {
    opacity: 1;
    visibility: visible;
}

.card:hover img {
    transform: scale(1.05) rotate(-3deg);
}

.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

.toggle {
    display: block;
}

#navbar {
    display: block;
}

@media (max-width: 700px){
    
    /* Show toggle switch only when navbar is open */
    .navbar.open .toggle {
        display: none;
    }
    
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
} 
